:root {
  --background-color: #181818;
  --background-color-2: #1C1C1C;
  --background-color-orange: darkorange;

  --font-color: white;
  --font-color-2: #999;
  --font-color-3: #BBB;

  --shadow-color: #333;

  --border-color: white;

  --placeholder-color: #AAA;
  --placeholder-color-2: #777;

  --line-color: #DDD;
}

.fade-enter, .fade-exit {
  position: absolute;
  top: 0;
  left: 0;
}

.fade-enter {
  opacity: 0;
  z-index: 10000;
}

.fade-enter.fade-enter-active {
  opacity: 1;

  transition: opacity 200ms;
}

.fade-exit {
  z-index: 0;
}
