<div id="game">
  <header>
    <div id="gameRoomInfo"></div>
    <div id="gameProfileSettings"><app-profile-settings></app-profile-settings></div>
  </header>
  <div id="gameContainer">
    <section class="left">
      <ul>
        <li>Player 1</li>
        <li>Player 2</li>
        <li>Player 3</li>
        <li>Player 4</li>
        <li>Player 5</li>
        <li>Player 6</li>
        <li>Player 7</li>
        <li>Player 8</li>
        <li>Player 9</li>
        <li>Player 10</li>
      </ul>
    </section>
    <section class="middle"></section>
    <section class="right"></section>
  </div>
</div>
