<div id="game">
  <header>
    <div id="gameRoomInfo"></div>
    <div id="gameProfileSettings"><app-profile-settings></app-profile-settings></div>
  </header>
  <div id="gameContainer">
    <section class="left">
      <ul>
        <li style="--item-delay: 0s">Player 1</li>
        <li style="--item-delay: 100ms">Player 2</li>
        <li style="--item-delay: 200ms">Player 3</li>
        <li style="--item-delay: 300ms">Player 4</li>
        <li style="--item-delay: 400ms">Player 5</li>
        <li style="--item-delay: 500ms">Player 6</li>
        <li style="--item-delay: 600ms">Player 7</li>
        <li style="--item-delay: 700ms">Player 8</li>
        <li style="--item-delay: 800ms">Player 9</li>
        <li style="--item-delay: 900ms">Player 11</li>
        <li style="--item-delay: 1000ms">Player 12</li>
        <li style="--item-delay: 1100ms">Player 13</li>
        <li style="--item-delay: 1200ms">Player 14</li>
        <li style="--item-delay: 1300ms">Player 15</li>
        <li style="--item-delay: 1400ms">Player 16</li>
        <li style="--item-delay: 1500ms">Player 17</li>
        <li style="--item-delay: 1600ms">Player 18</li>
        <li style="--item-delay: 1700ms">Player 19</li>
        <li style="--item-delay: 1800ms">Player 20</li>
        <li style="--item-delay: 1900ms">Player 21</li>
        <li style="--item-delay: 2000ms">Player 22</li>
        <li style="--item-delay: 2100ms">Player 23</li>
        <li style="--item-delay: 2200ms">Player 24</li>
        <li style="--item-delay: 2300ms">Player 25</li>
        <li style="--item-delay: 2400ms">Player 26</li>
        <li style="--item-delay: 2500ms">Player 27</li>
        <li style="--item-delay: 2600ms">Player 28</li>
        <li style="--item-delay: 2700ms">Player 29</li>
        <li style="--item-delay: 2800ms">Player 30</li>
        <li style="--item-delay: 2900ms">Player 31</li>
      </ul>
    </section>
    <section class="middle"></section>
    <section class="right"></section>
  </div>
</div>
