@import '../../../globalScss';
@import '../../../globalStyleData';

@import '../variables';

#playJoin {
  width: 100%;
  min-height: calc(100vh - #{$header-height});

  margin: {
    top: $header-height;
  }

  background-color: $background-color;

  color: $font-color;
}
