<div id="playJoin">
  <div class="roomTable">
    <div class="center">
      <span i18n class="reloadButton" (click)="loadPublicList()">Liste aktualisieren</span>
    </div>
    <table *ngIf="tableData.length > 0 else alternate">
      <tr>
        <th>Room code</th>
        <th>Players</th>
        <th>Limit</th>
      </tr>
      <tr *ngFor="let row of tableData" (click)="join(row[0].toString())">
        <td>{{ row[0] }}</td>
        <td>{{ row[1] }}</td>
        <td>{{ row[2] }}</td>
      </tr>
    </table>
    <ng-template #alternate>
      <span i18n class="alttext">Derzeit ist kein öffentlicher Raum verfügbar.</span>
      <span i18n class="alttext link" routerLink="/play/create">Raum erstellen</span>
    </ng-template>
  </div>

  <div class="privateJoin">
    <span i18n class="headline">Über Code beitreten</span>
    <div class="globalTextInputLineContainer">
      <input type="text" class="globalTextInputLine" i18n-placeholer placeholder="Raum Code" [maxLength]="maxCodeLength" [class]="code.valid ? 'valid' : 'invalid'" [formControl]="code" />
      <span class="globalTextInputLineLengthNote">{{ code.value.length }}/{{ maxCodeLength }}</span>
    </div>
    <div i18n class="globalSubmitButton" (click)="false && joinPrivate()">Beitreten</div>
  </div>
</div>
