<div id="mainPage">
  <div class="headlines">
    <span class="headline no1">
      <span style="display: none" #wordobj count=7>Werwolf</span>
      <span *ngFor="let e of [].constructor(parseInt(wordobj.getAttribute('count'))); let i = index" class="lower" [class]="genAnimClass()">{{ wordobj.innerText[i] }}</span>
    </span>
    <span class="headline no2">- für den Browser -</span>
  </div>
  <div class="buttonBox">
    <ul>
      <li routerLink="/howToPlay">Regeln</li>
      <li routerLink="/play">Spielen</li>
      <li routerLink="/about">Über</li>
    </ul>
</div>
