<div id="mainPage">
  <div id="mainPageBox">
    <div class="headline">
      <span class="heading">Werwolf</span>
      <span class="subheading">- für den Browser-</span>
    </div>
    <div class="buttonBox">
      <div class="buttonBoxInner inner1">
        <span class="button">
          <span class="arrow">←</span> Regeln
        </span>
        <span class="button">Spielen<span class="arrow">→</span></span>
      </div>
<!--
      <div class="buttonBoxInner inner2">
        <span class="button">Über</span>
      </div>
!-->
    </div>
  </div>
</div>
