@use "sass:math";

@import '../../globalScss';

#mainPage {
  width: 100%;
  min-height: 100vh;

  background: {
    color: black;
    image: url('/assets/background.jpg');
    size: cover;
    position: bottom center;
  }

  position: relative;
}
