@import '../../globalScss';
@import '../../globalStyleData';

.profileSettings {
  z-index: 10;
  width: 10em;
  height: 3em;

  color: white;

  display: flex;
  justify-content: flex-end;

  .inner {
    width: 0%;
    height: 100%;

    border-left-style: solid;
    border-left-color: #333;
    border-left-width: 0px;

    display: flex;
    justify-content: center;
    align-items: center;

    @include vendorPrefix(transition, #{background-color 200ms, border 400ms, width 400ms});

    span {
      opacity: 0;

      font: {
        family: 'Roboto';
      }
    }

    .arrow {
      color: #777;

      @include vendorPrefix(transform, #{translateY(-20%)});

      margin-left: 0.3em;

      opacity: 0;

      &.open {
        transform: rotate(180deg);
      }
    }

    span, .arrow {
      @include vendorPrefix(transition, #{opacity 200ms, transform 200ms});
    }

    &.available {
      width: 100%;
      border-left-width: 1px;

      &:hover {
        background-color: #222;

        .arrow:not(.open) {
          @include vendorPrefix(transform, #{translateY(0%)});
        }
      }

      span, .arrow {
        opacity: 1;
      }
    }
  }

  .popup {
    &:not(.open) {
      display: none;
    }

    font: {
      family: 'Roboto';
    }

    width: 10em;
    height: 20em;

    position: absolute;
    top: 3em;

    ul {
      border: 1px solid #333;
      border-top: 1px solid #222;

      padding: 0;
      margin: 0;

      background-color: $background-color-2;

      li {
        padding: {
          top: 0.5em;
          bottom: 0.5em;
          left: 0;
          right: 0;
        }
        margin: 0;

        border-bottom: 1px solid #222;

        list-style: none;

        text-align: center;

        @include vendorPrefix(transition, #{background-color 200ms});

        &:hover {
          background-color: #222;
        }

        &:last-child {
          border: none;
        }
      }
    }
  }
}
