<div id="howToPlay">
  <fa-icon class="back" (click)="goBack()" [icon]="arrowBack"></fa-icon>
  <!--<fa-icon class="back" routerLink="/" [icon]="arrowBack"></fa-icon>!-->
  <h1 i18n>Wie wird gespielt?</h1>
  <main>
    <ul>
      <li style="--itemDelay: 0s;">
        <span i18n>Ziel des Spiels</span>
        <p i18n>Das Ziel des Spiels ist es für die Werwölfe, alle Dorfbewohner zu töten. Für die Dorfbewohner gilt es, alle Werwölfe ausfindig zu machen.</p>
      </li>
      <li style="--itemDelay: 0.5s;">
        <span i18n>Ablauf</span>
        <p i18n>Zu Beginn wird jede/r Spieler/in eine Rolle zugewiesen, die er/sie geheim halten muss. (für Auflistung der Rollen siehe unten)</p>
        <p i18n>Eine Besonderheit hat die Rolle des Bürgermeisters oder der Bürgermeisterin. Diese Rolle wird einem/r Spieler/in zusätzlich zugeteillt.
 Der/die Bürgermeister/in hat bei der täglichen Abstimmung zwei Stimmen.(Dazu später mehr)</p>
        <p i18n>Nach dem jede(r) Spieler/in Kenntnis von seiner/ihrer Karte genommen hat, beginnt die erste Spielrunde.</p>
        <p i18n>Jede Spielrunde besteht aus zwei Phasen, dem Tag und der Nacht.</p>
      </li>
      <li style="--itemDelay: 1s;">
        <span i18n>In der Nacht</span>
        <p i18n>Alle Spieler/innen mit einer Fähigkeit können nun nacheinander ihre besonderen Spielzüge ausführen.</p>
        <p i18n>Bsp.:<br />
          <span class="spacer">Als erstes kann der/die Dieb/in zwei Rollen belieber Spieler/innen (auch von sich selbst) tauschen.</span><br />
          <span class="spacer">Danach kann der Armor ein Pärchen bestimmen.</span><br />
          <span class="spacer">usw. bis alle Funktionsrollen ihren Zug machen konnten.</span>
        </p>
        <p i18n>Danach endet die Nacht und der Tag beginnt.</p>
        <p i18n>Nun scheiden alle, die in der Nacht getöt wurden aus.<br />
           Eventuelle rollenspezifische Ereignisse beim Tod dieser Rolle werden nun angewendet.
        </p>
      </li>
      <li style="--itemDelay: 1.5s;">
        <span i18n>Am Tag</span>
        <p i18n>Als erstes kann nun jede/r Spieler/in (auch die Werwölfe und alle, die keine Funktionsrolle haben) eine/n andere/n auf den Verdacht hin,
  dass diese/r ein Werwolf ist, anklagen.</p>
        <p i18n>Ist dies erledigt, kann jede/r Spieler/in seine Stimme an eine/n der Angeklagten abgegen.<br />
           Der/die Angeklagte mit den meisten Stimmen wird getötet und scheidet somit ebenfalls aus.<br />
           Auch jetzt werden rollenspezifische Ereignisse beim Tod dieser Angeklagten Person durchgeführt.
        </p>
        <p i18n>Danach beginnt die Nacht erneut, bis das Spielende eintritt.</p>
      </li>
      <li style="--itemDelay: 2s;">
        <span i18n>Spielende</span>
        <p i18n>Das Spiel endet, wenn mehr Werwölfe am Leben sind als Dorfbewohner/innen (+ Hexe). Dann haben die Werwölfe gewonnen.<br />
           Gibt es keine Werwölfe mehr, die am Leben sind, endet das Spiel ebenfalls. Nun gewinnen allerdings die Dorfbewohner bzw. alle, die keine Werwölfe sind.
        </p>
      </li>
    </ul>
  </main>
</div>
