<div id="playSettings">
  <div class="centered" [class]="popupOpen ? 'blurred' : ''">
    <div id="unauthenticatedBlock" *ngIf="!authenticated; else authenticatedContent">
      <span class="headline" i18n>Bevor es los geht...</span>
      <span class="description" i18n>...ein paar Einstellungen...</span>
      <div>
        <div class="globalTextInputLineContainer">
          <input type="text" name="nickname" i18n-placeholder placeholder="Nickname" [maxLength]="maxNameLength" class="globalTextInputLine" [class]="nickname.valid ? 'valid' : 'invalid'" [formControl]="nickname" />
          <span class="globalTextInputLineLengthNote">{{ nickname.value.length }}/{{ maxNameLength }}</span>
        </div>
        <label class="customLabel" i18n>Läutstärke ({{ volume.value | number: '3.0' }}%)</label>
        <input type="range" min=0 max=100 value=0 name="volume" class="globalSliderInput" [formControl]="volume" />
        <div i18n class="globalSubmitButton" (click)="save()">Speichern</div>
      </div>
    </div>
    <ng-template #authenticatedContent>
      <div id="authenticatedBlock">
        <span i18n>Warten auf Server...</span>
      </div>
    </ng-template>
  </div>
  <div class="errorPopup" [class]="this.popupOpen ? 'open' : 'closed'">
    <div class="inner">
      <span class="close_button" (click)="this.closePopup()">
        <span class="line line1"></span>
        <span class="line line2"></span>
      </span>
      <span class="title" i18n>Es ist ein Fehler aufgetreten</span>
      <span *ngIf="nickname.valid; else nicknameInvalid" class="text" i18n>Bitte versuche es erneut.</span>
      <ng-template #nicknameInvalid><span class="text" i18n>Bitte verwende einen gültigen Nickname.</span></ng-template>
    </div>
  </div>
</div>
