@import '../../../globalScss';
@import '../../../globalStyleData';

@import '../variables';

#playSettings {
  width: 100%;
  min-height: calc(100vh - #{$header-height});

  position: relative;

  margin: {
    top: $header-height;
    bottom: 0;
    left: 0;
    right: 0;
  }

  background: {
    color: $background-color;
  }

  color: $font-color;

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 20%;

    text-align: center;

    @include vendorPrefix(transform, translate(-50%, -50%));

    @include vendorPrefix(transition, #{filter 1s});
    &.blurred {
      filter: blur(5px);
    }
  }
}

#authenticatedBlock {
  span {
    font: {
      family: 'Roboto';
      size: 2em;
    }
  }
}
