@import '../../../scss/vendorPrefix';

#mainPage .headlines {
  position: absolute;
  $top: 33%;
  top: $top;
  left: 50%;

  @include vendorPrefix(user-select, none);

  $transform: translate(-50%,-50%);
  @include vendorPrefix(transform, $transform);

  color: white;

  .headline {
    display: block;

    font: {
      family: 'Roboto';
      weight: 600;
    }

    &.no2 {
      text: {
        align: center;
        shadow: 0px 0px 3px #AAA,
                0px 0px 5px #AAA,
                1px 1px 3px black;
      }

      font: {
        size: 1.8em;
      }

      color: #DDD;

      $transition: text-shadow 200ms;
      @include vendorPrefix(transition, $transition);

      &:hover {
        text: {
          shadow:
                  0px 0px 3px #AAA,
                  0px 0px 5px #AAA,
                  0px 0px 25px #AAA,
                  1px 1px 3px black;
        }
      }

      @keyframes flyInNo2 {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }

      animation: {
        name: flyInNo2;
        duration: 1s;
        fill-mode: backwards;
        delay: 1.8s;
      }
    }
  }

  @keyframes flyIn {
    0% {
      top: 12%;
      opacity: 0;
    }
    90% {
      top: $top;
    }
    100% {
      opacity: 1;
    }
  }

  animation: {
    name: flyIn;
    duration: 2s;
    fill-mode: backwards;
  }
}

@media screen and (max-width: 1000px) {
  #mainPage .headlines {
    $top: 20%;
    top: $top;

    @keyframes flyIn {
      0% {
        top: 10%;
        opacity: 0;
      }
      90% {
        top: $top;
      }
      100% {
        opacity: 1;
      }
    }

    .headline.no2 {
      font: {
        size: 2.5vw;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  #mainPage .headlines .headline.no2 {
    font: {
      size: 6vw;
    }
  }
}

#mainPage .headlines .headline.no1 {
  font: {
    size: 8em;
  }

  letter-spacing: 0.15em;

  text: {
    shadow: 0px 0px 3px white,
            0px 0px 10px #CCC,
            0px 0px 30px #AAA,
            4px 4px 0px black;
  }
}

#mainPage .headlines .headline.no1 .animate {
  $transition: opacity 100ms;
  @include vendorPrefix (transition, $transition);

  &:hover {
    animation-play-state: paused;
    opacity: 0.6 !important;
  }

  &.animate {
    animation: {
      duration: 10s;
      iteration-count: infinite;
      timing-function: linear;
      fill-mode: forwards;
    }

    &.anim1 {
      animation: {
        name: blinkingLetter1
      }
    }

    &.anim2 {
      animation: {
        name: blinkingLetter2
      }
    }

    $starttime: 1.5s;

    &.delay1 {
      animation: {
        delay: $starttime;
      }
    }

    &.delay2 {
      animation: {
        delay: $starttime + 2s;
      }
    }

    &.delay3 {
      animation: {
        delay: $starttime + 1s;
      }
    }

    &.delay4 {
      animation: {
        delay: $starttime + 2.5s;
      }
    }

    &.delay5 {
      animation: {
        delay: $starttime + 4s;
      }
    }

    &.delay6 {
      animation: {
        delay: $starttime + 4.75s;
      }
    }
  }

  @keyframes blinkingLetter1 {
    2.0001%, 3.9999%, 5.0001%, 9.9999%, 15.0001%, 24.9999% {
      opacity: 0.7;
    }
    0%, 2%, 4%, 5%, 10%, 15%, 25%, 100% {
      opacity: 1;
    }
  }

  @keyframes blinkingLetter2 {
    25.0001%, 34.9999%, 40.0001%, 40.9999% {
      opacity: 0.5;
    }

    85.0001%, 89.9999% {
      opacity: 0.75;
    }

    15.0001%, 16.9999%, 43.0001%, 45.9999%, 70.0001%, 71.9999% {
      opacity: 0.8;
    }
    0%, 15%, 17%, 25%, 35%, 40%, 41%, 43%, 46%, 70%, 72%, 85%, 90%, 100% {
      opacity: 1;
    }
  }
}

@media screen and (max-width: 1000px) {
  #mainPage .headlines .headline.no1 {
    font: {
      size: 12vw;
    }
  }
}

@media screen and (max-width: 600px) {
  #mainPage .headlines .headline.no1 {
    font: {
      size: 19vw;
    }
  }
}
