@import '../../../../globalScss';
@import '../../../../globalStyleData';

@import '../../variables';

#playSettings {
  .errorPopup {
    z-index: 100;

    position: relative;

    width: 100%;
    min-height: calc(100vh - #{$header-height});

    display: flex;
    align-items: center;
    justify-content: center;

    .inner {
      position: relative;

      min-width: 22%;

      padding: 1.5em;

      background: {
        color: white;
      }

      border-radius: 15px;

      span {
        display: block;
      }

      .title {
        color: black;

        text-align: center;
        font: {
          size: 1.2em;
          family: 'Roboto';
        }

        margin: {
          bottom: 10px;
        }
      }

      .text {
        display: block;
        color: black;

        text-align: center;
        font: {
          family: 'Roboto';
        }
      }

      .close_button {
        display: block;

        position: absolute;
        right: 10px;
        top: 8px;

        width: 30px;
        height: 30px;

        .line {
          position: absolute;
          top: 50%;
          left: 0;
          width: 30px;
          height: 2px;
          background-color: $font-color-2;
        }

        .line1 {
          @include vendorPrefix(transform, #{rotate(-45deg)});
        }

        .line2 {
          @include vendorPrefix(transform, #{rotate(45deg)});
        }
      }
    }

    @include vendorPrefix(transition, #{transform 300ms ease-out, opacity 300ms});

    display: none;

    &.open {
      display: flex;

      @keyframes playSettingsErrorPopupGrow {
        from {
          opacity: 0.3;
          @include vendorPrefix(transform, #{scale(0.7)});
        }

        to {
          opacity: 1;
        }
      }

      animation: {
        name: playSettingsErrorPopupGrow;
        duration: 1s;
      }
    }
  }
}
