@import '../../../../globalScss';
@import '../../../../globalStyleData';

#unauthenticatedBlock {
  .headline {
    font: {
      family: 'Roboto';
      size: 2em;
    }

    display: block;

    margin: {
      bottom: 0.1em;
    }
  }

  .description {
    font: {
      family: 'Roboto';
      size: 0.95em;
    }

    display: block;

    color: darkgrey;

    margin: {
      bottom: 2.5em;
    }
  }

  .customLabel {
    color: $placeholder-color-2;

    text-align: left;

    $left-margin: 0.5em;
    margin: {
      left: $left-margin;
    }

    width: calc(100% - #{$left-margin});
    display: block;

    font: {
      family: 'Roboto';
    }
  }
}
