@import '../globalScss';

.globalSubmitButton {
  @include vendorPrefix(appearance, none);

  border: none;
  border-radius: 7px;

  font: {
    family: 'Roboto';
    size: 1em;
  }

  text-align: center;
  letter-spacing: 0.05em;

  padding: {
    top: 0.5em;
    bottom: 0.5em;
    left: 0;
    right: 0;
  }

  background-color: #007fff;

  width: 100%;

  @include vendorPrefix(transition, #{color 200ms, background-color 200ms});

  &:hover {
    color: #007fff;
    background: {
      color: white;
    }
  }

  user-select: none;
}
