$background-color: #181818;
$background-color-2: #1C1C1C;
$background-color-orange: darkorange;

$font-color: white;
$font-color-2: #999;
$font-color-3: #BBB;

$shadow-color: #333;

$border-color: white;
