@import 'globalStyleData';

body {
  margin: 0;
  padding: 0;

  background: {
    color: $background-color;
  }
}

* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  -moz-scrollbar-width: none;  /* Firefox */
}

*::-webkit-scrollbar {
  display: none;
}

@import './styles/submitButton';
@import './styles/textInputLine';
@import './styles/sliderInput';
