@import '../../../globalScss';

#mainPage {
  .headlines {
    position: absolute;
    $top: 33%;
    top: $top;
    left: 50%;

    @include vendorPrefix(user-select, none);

    $transform: translate(-50%,-50%);
    @include vendorPrefix(transform, $transform);

    color: white;

    .headline {
      display: block;

      font: {
        family: 'Roboto';
        weight: 600;
      }

      &.no2 {
        text: {
          align: center;
          shadow: 0px 0px 3px #AAA,
                  0px 0px 5px #AAA,
                  1px 1px 3px black;
        }

        font: {
          size: 1.8em;
        }

        color: #DDD;

        $transition: text-shadow 200ms;
        @include vendorPrefix(transition, $transition);

        &:hover {
          text: {
            shadow:
                    0px 0px 3px #AAA,
                    0px 0px 5px #AAA,
                    0px 0px 25px #AAA,
                    1px 1px 3px black;
          }
        }

        @keyframes flyInNo2 {
          0% {
            opacity: 0;
          }
          100% {
            opacity: 1;
          }
        }

        animation: {
          name: flyInNo2;
          duration: 1s;
          fill-mode: backwards;
          delay: 1.8s;
        }
      }
    }

    @keyframes flyIn {
      0% {
        top: 12%;
        opacity: 0;
      }
      90% {
        top: $top;
      }
      100% {
        opacity: 1;
      }
    }

    animation: {
      name: flyIn;
      duration: 2s;
      fill-mode: backwards;
    }
  }
}
