@import '../../../globalStyleData';
@import '../../../globalScss';

@import '../variables';

#playMain {
  width: 100%;
  min-height: calc(100vh - #{$header-height});

  margin: {
    top: $header-height;
    bottom: 0;
    left: 0;
    right: 0;
  }

  padding: 0;

  display: inline-block;

  background-color: $background-color;

  color: $font-color;
}
