<div id="playMain" [class]="ready ? '': 'alt'">
  <div class="choose">
    <span class="headline" i18n>Los geht`s!</span>
    <span class="description" i18n>bitte wähle eine Option aus</span>
    <div class="op1">
      <span routerLink="./join" i18n>Einem Raum beitreten</span>
    </div>
    <span class="divider" i18n>ODER</span>
    <div class="op2">
      <span routerLink="./create" i18n>Raum erstellen</span>
    </div>
    <hr class="line">
    <span class="rules" i18n>Schon die Regeln gelesen?</span>
    <span routerLink="/howToPlay" class="rules description" i18n>zu den Regeln</span>
  </div>

  <div class="alt">
    <span>Einen Moment bitte...</span>
  </div>
</div>
