<div id="playCreate">
  <div class="form">
    <span class="headline" i18n>Einen Raum erstellen</span>
    <div class="publicOptionBox">
      <span i18n class="public" (click)="isPublic = true;" [class]="isPublic ? 'active': ''">Öffentlich</span><span i18n class="private" (click)="isPublic = false;" [class]="isPublic ? '': 'active'">Privat</span>
    </div>
    <div class="limitInput">
      <span i18n class="description">Spielerlimit:</span>
      <span i18n class="output">{{ playerLimit.value }}</span>
      <span i18n class="input" (click)="increment()">+</span>
      <span i18n class="input" (click)="decrement()">-</span>
    </div>
    <div class="globalSubmitButton" i18n (click)="create()">
      Erstellen
    </div>
  </div>
</div>
