@import '../../../globalScss';
@import '../../../globalStyleData';

@import '../variables';

#playCreate {
  width: 100%;
  min-height: calc(100vh - #{$header-height});

  margin: {
    top: $header-height;
  }

  background-color: $background-color;

  color: $font-color;

  display: flex;
  justify-content: center;
  align-items: center;

  .form {
    width: 20%;
  }

  .headline {
    display: block;

    font: {
      family: 'Roboto';
      size: 2.4em;
    }

    text-align: center;

    margin: {
      bottom: 2em;
    }
  }

  .publicOptionBox {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;

    margin-bottom: 0.75em;

    font: {
      family: 'Roboto';
    }

    .public, .private {
      min-width: 25%;

      text-align: center;

      padding: {
        top: 0.3em;
        bottom: 0.4em;
        left: 0.7em;
        right: 0.7em;
      }

      border: {
        color: black;
        width: 2px;
        style: solid;
        radius: 10px;
      }

      @include vendorPrefix(transition, #{opacity 200ms});
    }

    .public {
      $r: 0;
      $g: 150;
      $b: 0;
      background: {
        color: rgb($r, $g, $b);
      }
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
    }

    .private {
      $r: 255;
      $g: 0;
      $b: 0;
      background: {
        color: rgb($r, $g, $b);
      }
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }

    .public:not(.active),
    .private:not(.active) {
      opacity: 0.5;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .limitInput {
    font: {
      family: 'Roboto';
    }

    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;

    .description {
      padding: {
        top: 0.3em;
        bottom: 0.3em;
        left: 0.6em;
        right: 0.6em;
      }
    }

    .output, .input {
      border: {
        width: 2px;
        color: black;
        style: solid;
        radius: 10px;
      }

      padding: {
        top: 0.3em;
        bottom: 0.3em;
        left: 0.6em;
        right: 0.6em;
      }
    }

    .output {
      background: {
        color: white;
      }

      color: black;

      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
    }

    .input {
      user-select: none;

      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;

      background: {
        color: grey;
      }

      color: black;

      &:nth-last-child(2) {
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
      }

      @include vendorPrefix(transition, #{ background-color 200ms });

      &:hover {
        background-color: lightgrey;
      }
    }
  }

  .globalSubmitButton {
    width: 80%;

    margin-top: 3em;
    margin-left: 10%;
  }
}

@media screen and (max-width: 1800px) {
  #playCreate {
    .form {
      width: 30%;
    }
  }
}

@media screen and (max-width: 1200px) {
  #playCreate {
    .form {
      width: 40%;
    }
  }
}

@media screen and (max-width: 900px) {
  #playCreate {
    .form {
      width: 50%;
    }
  }
}

@media screen and (max-width: 700px) {
  #playCreate {
    .form {
      width: 70%;
    }
  }
}

@media screen and (max-width: 600px) {
  #playCreate {
    .form {
      width: 98%;
    }

    .headline {
      font: {
        size: 9.5vw;
      }
    }
  }
}
